@import url("default.css"); /* make sure to sync this with the base theme's css filename */

.rst-content .tip .admonition-title {
   background: #b99976
}

.rst-content .tip {
   background: #e5d3b3
}


/* .wy-nav-content { */
/* max-width: 1200px !important; */
/* } */
/* /\* override table width restrictions as found on https://github.com/getpelican/pelican/issues/1311 *\/ */
/* .wy-table-responsive table td, .wy-table-responsive table th { */
/*     /\* !important prevents the common CSS stylesheets from */
/*        overriding this as on RTD they are loaded after this stylesheet *\/ */
/*     white-space: normal !important; */
/* } */
 
/* .wy-table-responsive { */
/*     overflow: visible !important; */
/* } */

.strike {
    text-decoration: line-through;
}

/* .exercise { */
/*     background-color: #e7f2fa; */
/* } */

/* taken from https://github.com/rhopfer/sphinx-numbered-blocks/ */
@import url("haiku.css");

.numbered-block {
	padding: 1em;
	margin-bottom: 1em;
}

.numbered-block .title {
	display: block;
	margin-bottom: 1em;
}

.numbered-block .label,
.numbered-block .separator {
	font-weight: bold;
}

.example {
	border: 1px solid green;
	background: aquamarine;
}

.definition {
	border: 1px solid gold;
	background: PapayaWhip;
}

.example > .title:before {
	content: '■';
	font-size: 1.2em;
	margin-right: 1em;
}

.exercise {
	border: 1px solid midnightblue;
	background: powderblue;
}

.exercise > .title:before {
	content: '■';
	font-size: 1.2em;
	margin-right: 1em;
}


.exerciseL {
	border-left: 5px solid midnightblue;
	position: relative;
	padding: 0 1em;
	margin-bottom: 0;
}

.exerciseL .title {
	position: absolute;
	left: -3em;
}

.exerciseL p:last-of-type {
	margin-bottom: 0;
}

.solution {
	border-left: 5px solid gray;
	margin-top: 0;
	padding: 0 1em;
	position: relative;
}

.solution p:first-of-type {
	margin-top: 0;
}

.solution div.contents {
	display: none;
}
.solution button {
	display: block;
}
.fake-figure {
	clear: both;
}

table.numbered-block {
	caption-side: bottom;
}
